.modal{
    color: var(--green-dark);

    .modal-title{
        font-size: 2.2rem;
    }
    
    img{
        height: 200px;
        width: 200px;
        object-fit: cover;
        border-radius: 0.5rem;
    }

    .cart-container{
        border: solid 1px var(--brown-light);
        border-radius: 2rem;
        color: var(--green-medium);
    }
    

    .info-price{
        font-size: 2rem;
        font-weight: 800;
    }

    .info-description{
        font-size: 1.3rem;
    }
    
}

.btn{
    svg{
        fill:gray;
    }
}
