#categorias {
    margin: 10rem;
    h2 {
        color: var(--green-medium);
        margin-bottom: 5rem;
        
    }
    img {
        width: 10rem;
        height: 10rem;
        
    }
    a {
        text-decoration: none;
    }
    p {
        font-size: 2rem;
        color: var(--brown-dark);
        justify-content: center;
}
    .col {
        text-align: center;
    }
}

@media (max-width: 560px){
    #categorias{
        img{
            width: 15rem;
            height: 15rem;  
    }

    }
}

@media (min-width: 800px){
    #categorias{
        img{
            width: 12rem;
            height: 12rem;  
    }
}
} 

@media (min-width: 1000px){
    #categorias{
        img{
            width: 16rem;
            height: 16rem;  
    }

} 
}
