#carrossel h2{
    padding: 5% 5% 5% 7%;
    color: var(--green-medium);
}

#container {
    margin: 0 auto;
    width: 100%;
    img{
        border-radius:10px;
       
    }

    .d-block h3{
        margin: 20%;
    }
    .carousel-indicators .data-bs-target{
        text-decoration: none;
        color: var(--green-medium);
    }
}