#carrossel h2{
    padding: 5% 5% 5% 7%;
    color: var(--green-medium);
}

#destaques {
    
    img{
        border-radius:10px;
        box-shadow: 5px 5px 5px 0 gainsboro;
        text-align: center;
    }

    h5{
        margin:4%;
        //padding-left:4%;
        color: var(--green-dark);
        //text-align: justify;
    }
    
    
    .carousel-indicators{
        margin-bottom: -30px;
    }

    .carousel-indicators button{
        background-color: var(--green-light);
        border-radius: 50%;
        height: 15px;
        width: 15px;
    }

    .carousel-inner{
        width: 80%;
        margin: 0 auto;
    }


    
}




