#carrossel h2{
    padding: 5% 5% 5% 7%;
    color: var(--green-medium);
}

#destaques {
    
    img{
        border-radius:10px;
        box-shadow: 5px 5px 5px 0 gainsboro;
        text-align: center;
    }

    .row{
        padding-left:5%;
    }

    h5{
        margin:4%;
        //padding-left:4%;
        color: var(--green-dark);
        //text-align: justify;
    }    
}