#bannerHome {
  width: 97.5%;
  height: 70vh;
  background-image: url("../../imgs/home/parallax.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  transform: scale(1.05);

  .text {
    text-align: center;
    width: 45%;

    h2 {
      color: var(--brown-dark);
      padding: 20% 0 0 15%;
      font-size: 5rem;
    }

    h4 {
      color: var(--green-dark);
      padding: 5% 0 0 15%;
      font-size: 2.5rem;
    }
  }
}

@media (max-width: 600px) {
  #bannerHome {
    .text {
      max-width: 560px;

      h2 {
        padding: 20% 0 0 10%;
        font-size: 3.5rem;
      }

      h4 {
        padding: 5% 0 0 10%;
        font-size: 1.5rem;
      }
    }
  }
}

@media (max-height: 600px) {
  #bannerHome {
    .text {
      max-height: 560px;

      h2 {
        padding: 10% 0 0 10%;
        font-size: 3.5rem;
      }

      h4 {
        padding: 5% 0 0 10%;
        font-size: 1.5rem;
      }
    }
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  #bannerHome {
    .text {
      h2 {
        padding: 20% 0 0 10%;
        font-size: 3.5rem;
      }

      h4 {
        padding: 5% 0 0 10%;
        font-size: 1.5rem;
      }
    }
  }
}

@media only screen and (min-height: 600px) and (max-height: 1024px) {
  #bannerHome {
    .text {
      h2 {
        padding: 15% 0 0 10%;
        font-size: 3.5rem;
      }
    }
  }
}

@media (min-aspect-ratio: 1025px) {
  #bannerHome {
    .text {
      min-width: 1500px;

      h2 {
        padding: 20% 0 0 10%;
        font-size: 3.5rem;
      }

      h4 {
        padding: 5% 0 0 10%;
        font-size: 1.5rem;
      }
    }
  }
}
