#bannerHome {
  width: 97.5%;
  min-height: 70vh;
  background-image: url("../../imgs/home/parallax.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  transform: scale(1.05);

  .text{
    text-align:center;
    width:45%;
    
    h2{
      color: var(--brown-dark);
      padding: 15% 0 0 15%;
    }

    h4{
      color: var(--green-dark);
      padding: 5% 0 0 15%;
    }
  }
}


@media (min-width: 1200px) {
  #bannerHome{
    min-width: 1200px;
    .text {
      text-align:center;
      width:45%;
      
      h2{
        padding: 20% 0 0 10%;
        font-size: 5rem;
      }
    
      h4{
        padding: 5% 0 0 10%;
        font-size: 2.5rem;
      }
    }
  }
}


@media (min-height: 625px) {
  #bannerHome{
      min-height: 616px;
      .text {
      text-align:center;
      width:45%;
    
      h2{
        padding: 20% 0 0 10%;
        font-size: 5rem;
      }
    
      h4{
        padding: 3% 0 0 10%;
        font-size: 2.5rem;
      }
    }
  }
}







