#bannerHome {
  width: 100%;
  height: calc(100vh - 81px);
  background-image: url("../../imgs/home/parallax.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}
