.modal{
    color: var(--green-dark);

    .modal-title{
        font-size: 2.2rem;
    }

    .modal-body{
        flex-wrap:wrap
    }
    
    img{
        height: 200px;
        width: 200px;
        object-fit: cover;
        border-radius: 0.5rem;
    }

    .cart-container{
        border: solid 1px var(--brown-light);
        border-radius: 2rem;
        color: var(--green-medium);
    }
    

    .info-price{
        font-size: 2rem;
        font-weight: 800;
    }

    .info-description{
        font-size: 1.3rem;
    }

    .btn-success,
    .btn-outline-success,
    .btn-secondary{
        min-width: 130px;
    }

    .buttons{
        justify-content: center;
    }
    
}

.btn{
    &:hover{
        opacity: 0.8;
    }
}

@media (min-width: 500px) {
    .modal{
        .modal-body{
            flex-wrap:nowrap
        }

    } 
    
}

@media (min-width: 990px) {
    .modal{

        .buttons{
            justify-content: start;
        }
    } 
    

}