// *********************************************
// #######   CONFIGURAÇÃO DE PÁGINA   #######
// *********************************************

body{
  font-size: 10px;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  
}

:root{
  --brown-dark: #A2531E;
  --brown-light: #DDA15E;
  --green-dark: #283618;
  --green-medium: #606C38;
  --green-light: #81AA66;
  --bg-2: #F2EFEF;
}

// *********************************************
// #######   CONFIGURAÇÃO  GRID  #######
// *********************************************
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  grid-gap: 3rem;
  max-width: 960px;
  margin: 0 auto 3rem;
}

article {
  position: relative;
}

.caixa {
  height: 60rem;
}

// .wrapper {
//   display: grid;
//   display: -ms-grid;
//   grid-template-columns: repeat(3, 1fr);
//   -ms-grid-columns: repeat(3, 1fr);
//   grid-column-gap: 10rem;
//   grid-row-gap: 5rem;
//   // grid-auto-rows: minmax(25rem, auto);

//   margin: 0 auto;

//   text-align: center;
//   align-items: center;
// }



// *********************************************
// #######   CONFIGURAÇÃO DA IMAGEM DO PERFIL   #######
// *********************************************

.image-container{
  top: 30rem;
}
.profile-img {
  width: 25rem;
  height: 33rem;
  border-radius: 12.5rem;
  padding: 0rem;
  text-align: center;

}

.photo-wrap {
  display: block;
  text-align: center;
  height: 10rem;
}

// *********************************************
//    #######   ESTILO PARA O TEXTO   #######
// *********************************************

.text-about{
  margin: 0 auto;
  text-align: center;
  width: 70rem;
  height: 10rem;
  line-height: 3rem;
  color: var(--green-medium);
  margin-top: 5rem;
  margin-bottom: 5rem;
  font-size: 2rem;
}

.retangle{
  width: 25rem;
  height: 35rem;
  background: #DDA15E42;
  border-radius: 5rem;
}

.aboutme{
  margin: 0 auto;
  padding-top: 25rem;
}

.profile-name h4{
  width: 24rem;
  height: 20rem;
  color: var(--brown-dark);
  
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 16rem;
  line-height: 141%;
}

.profile-social h5{
  color: var(--green-medium);
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  line-height: 141%;
}


// *********************************************
//    #######   RESPONSIVIDADE   #######
// *********************************************
@media (max-width: 600px) {
  .cards {
    max-width: 560px;
    margin: 0 auto 3rem;
  }

  .retangle{
    margin: 0 auto 3rem;
  }

  .aboutme{
    text-align: center;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .cards {
    // min-width: 560px;
    // max-width: 1024px;
    grid-gap: 3rem;
    margin: 0 auto 3rem;
  }

  .retangle{
    margin: 0 auto 3rem;
  }
  .profile-img{
    margin: 0 auto 3rem;
    grid-gap: 3rem;
  }
  .aboutme{
    text-align: center;
  }
}

@media (min-aspect-ratio: 1024px) {
  .cards {
    min-width: 1024px;
    grid-gap: 3rem;
    margin: 0 auto 3rem;
  }

  .retangle{
    margin: 0 auto 3rem;
  }
  .profile-img{
    margin: 0 auto 3rem;
    grid-gap: 3rem;
  }
  .aboutme{
    text-align: center;
  }
}





