.main-cart{
    min-height: 80vh;
}

.cart-title{
    color: var(--green-medium);
}

.cart-container{
    border: solid 1px var(--brown-light);
    border-radius: 2rem;
    color: var(--green-medium);
}