#header{
#home {
    background-color: white !important;
    z-index: 2;

    .nav-brand {
        padding-left: 2%;
        //text-decoration: none !important;
    }

    .nav-brand img {
        width: 10rem;
        height: 10rem;
    }

    .basic-navbar-nav .me-auto {
        padding-left: 4%;
    }

    .basic-navbar-nav .align-items-center{
        font-size:1.7rem;
    }

    .nav-link{
        justify-content: space-between;
        padding:5px 15px;
        border-radius: 5px;
        color: var(--green-light);
        &:hover{
            color: var(--brown-dark);
            background-color: #E9ECEF;
        }
    }

    .basic-nav-dropdown .dropdown-menu{
        font-size:1.5rem;
        padding: 5px 15px;
        border-radius: 5px;
    }
    
    .dropdown-menu a{
        color: var(--green-light);
        border-radius: 5px;
    }

    .dropdown-item {
    &:active {
        background-color: transparent;
    }
    &:hover{
        color: var(--brown-dark);
    }
    }

    .form-control {
        font-size: 1.5rem;
        border-color: var(--green-dark);
        &:focus{
        border-color: var(--brown-dark);
        outline: 0;
        -webkit-box-shadow: none;
                box-shadow: none;
        }
    }    
}
}