#container{
    background-color: white !important;
    .nav-brand{
        font-size:5rem;
        font-weight:bold;
        color: var(--green-dark);
        padding-left:2%;
        margin:auto;
    }

.me-auto{
        padding-left: 4%;
    }
}