#footer {
    .contato{
        background-color: var(--green-light);
    }
    p{
        margin-bottom: 0;
        color: var(--green-dark);
    }
    .row {
        padding: auto;
    }
    .justify-content-center {
        justify-content:space-between;
    }
    .card-footer {
        background-color: var(--green-dark) !important;
        color: var(--brown-light);
    }
    .card-body {
        background-color: var(--green-light);
        padding: 2rem;
    }
    .card-header {
        background-color: var(--green-light);
    }
    

    img, svg {
        color: var(--green-dark);
        width: 2rem;
        height: 2rem;
        
    }
    a {
        text-decoration: none;
        color: var(--green-dark);
    }
    a:hover{
        color: var(--brown-dark);
    }

}


@media (max-width: 560px){
#footer {
        .card-body{
            padding: 5rem;
            font-size: 1.5rem;
        }
        img, svg {
            width: 4rem;
            height: 4rem;
        }
        .card-footer {
            font-size: 1.5rem;
        }
        p {
            padding: 1.5rem;
        }

    }
}



@media (min-width: 700px){
    #footer {
        .card-body{
            padding: 3rem;
            font-size: 1.5rem;
        }
        img, svg {
            width: 3rem;
            height: 3rem;
        }
        .card-footer {
            font-size: 1rem;
        }
    }

} 

@media (min-width: 1000px){
    #footer {
        .card-body{
            padding: 5rem;
            font-size: 2rem;
        }
        img, svg {
            width: 4rem;
            height: 4rem;
        }
        .card-footer {
            font-size: 2rem;
        }
    }

} 





