.product-row{
    color: var(--green-medium);
    .product-img{
        height: 180px;
        width: 200px;
        object-fit: cover;
        border-radius: 0.5rem;
    }
    .product-quantity{
        font-size: 1.5rem;
        .increment-decrement{
            background-color:  rgba(var(--brown-light), .2);
            
            input[type=submit]{
                border-style: none;
                background-color:  transparent;
                font-size: 1.8rem;
                font-weight: 500;
            }
            
        }
    }
    
    
}


    
