.product-row{
    color: var(--green-medium);
    .product-img{
        aspect-ratio: 1.20;
        max-width: 100%;
        object-fit: cover;
        border-radius: 0.5rem;
    }
    
}

.product-quantity{
    font-size: 1.5rem;
    .increment-decrement{
        background-color:  rgba(#DDA15E, .2);
        
        input[type=submit]{
            border-style: none;
            background-color:  transparent;
            font-size: 1.8rem;
            font-weight: 500;
        }
        
    }
}
    
