* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // overflow-x: hidden;
}


html{ 
  font-size: 10px;
  --brown-dark: #A2531E;
  --brown-light: #DDA15E;
  --green-dark: #283618;
  --green-medium: #606C38;
  --green-light: #81AA66;
  --bg-2: #F2EFEF;
}


